In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train_file="/media/dell/D_PROJECTS/Edvancer_Class/DataScienceWithR/Data/loan_data_train.csv"
train_test="/media/dell/D_PROJECTS/Edvancer_Class/DataScienceWithR/Data/loan_data_test.csv"
df_train=pd.read_csv(train_file)
df_test=pd.read_csv(train_test)

In [2]:
print(df_train.shape)# check the rows
df_train.head(2) # display the 1st 5 colum

(2200, 15)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years

In [3]:
df_train.dtypes.unique()
df_train.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [4]:
obj_cols=df_train.select_dtypes("object").columns
obj_cols,len(obj_cols)

(Index(['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
        'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
        'Home.Ownership', 'FICO.Range', 'Open.CREDIT.Lines',
        'Revolving.CREDIT.Balance', 'Employment.Length'],
       dtype='object'), 12)

In [5]:
print(df_train[obj_cols].shape)
df_train[obj_cols].sample(5)

(2200, 12)

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Employment.Length
609,18500,3100,15.33%,36 months,credit_card,5.24%,NY,RENT,660-664,8,22379,1 year
234,10800,10550,8.00%,36 months,home_improvement,6.82%,CA,MORTGAGE,790-794,7,10232,< 1 year
1349,4000,4000,16.82%,60 months,debt_consolidation,15.82%,WI,MORTGAGE,685-689,18,11319,10+ years
150,6000,6000,10.75%,36 months,debt_consolidation,12.05%,NJ,RENT,720-724,14,25090,10+ years
2145,12000,10400,18.25%,60 months,car,12.11%,CA,RENT,660-664,7,2409,3 years

In [6]:
df_train["Loan.Length"].value_counts()

36 months    1722
60 months     476
.               1
Name: Loan.Length, dtype: int64

In [7]:
df_train["Loan.Purpose"].value_counts()

debt_consolidation    1147
credit_card            394
other                  174
home_improvement       135
major_purchase          84
small_business          80
car                     45
wedding                 35
medical                 26
moving                  25
house                   19
vacation                18
educational             14
renewable_energy         3
Name: Loan.Purpose, dtype: int64

In [8]:
df_train["Home.Ownership"].value_counts()

MORTGAGE    1018
RENT         999
OWN          177
OTHER          4
NONE           1
Name: Home.Ownership, dtype: int64

In [9]:
df_train["Employment.Length"].value_counts()

10+ years    575
< 1 year     229
2 years      217
3 years      203
5 years      181
4 years      162
1 year       159
6 years      134
7 years      109
8 years       95
9 years       66
.              1
Name: Employment.Length, dtype: int64

In [10]:
df_train.shape

(2200, 15)

In [11]:
# drop the obj, axis=1 colums
df_train.drop(['ID','Amount.Funded.By.Investors'], axis=1 ,inplace=True)
df_train.shape

(2200, 13)

In [12]:
# converting  data objet to float64
for  col in ['Amount.Requested','Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    df_train[col] = pd.to_numeric(df_train[col],errors='coerce')

In [13]:
df_train.dtypes

Amount.Requested                  float64
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [14]:
df_train['Interest.Rate'].sample(5)

1836    11.11%
1362    21.67%
913     15.31%
2096    13.11%
273     14.33%
Name: Interest.Rate, dtype: object

In [15]:
# convert str % with ""
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    print(col)
    df_train[col]=df_train[col].str.replace("%","") ## conver to dtring and replace 
    # need to concert to float here Interest.Rate and Debt.To.Income.Ratio

Interest.Rate
Debt.To.Income.Ratio

In [16]:
# converting  data objet to float64
for  col in ['Interest.Rate','Debt.To.Income.Ratio']:
    df_train[col] = pd.to_numeric(df_train[col],errors='coerce')
# coerece witll convert specialchar to nan

In [17]:
#Interest.Rate=Interest.Rate.astype(float)
#Debt.To.Income.Ratio=Debt.To.Income.Ratio.astype(float)

In [18]:
#df_train['Interest.Rate'].sample(5)
df_train.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [19]:
df_train['Interest.Rate'].sample(2)

1397     6.62
2146    12.12
Name: Interest.Rate, dtype: float64

In [20]:
df_train.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [21]:
df_train['FICO.Range'].sample(2)

2092    700-704
182     690-694
Name: FICO.Range, dtype: object

In [22]:
#df_train['FICO.Range']=df_train['FICO.Range'].str.split("-",expand=True).astype(float)
k=df_train['FICO.Range'].str.split("-",expand=True).astype(float)
k
df_train['fico']=0.5*(k[0]+k[1])
del df_train['FICO.Range']
df_train.dtypes
#df_train['FICO.Range'].sample(2)

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
fico                              float64
dtype: object

In [23]:
k.dtypes

0    float64
1    float64
dtype: object

In [24]:
df_train['Employment.Length'].value_counts()

10+ years    575
< 1 year     229
2 years      217
3 years      203
5 years      181
4 years      162
1 year       159
6 years      134
7 years      109
8 years       95
9 years       66
.              1
Name: Employment.Length, dtype: int64

In [25]:
df_train['Employment.Length']=df_train['Employment.Length'].str.replace('years','')
df_train['Employment.Length']=df_train['Employment.Length'].str.replace('year','')

In [26]:
df_train['Employment.Length'].value_counts()

10+     575
< 1     229
2       217
3       203
5       181
4       162
1       159
6       134
7       109
8        95
9        66
.         1
Name: Employment.Length, dtype: int64

In [27]:
#numbpy where to replace  + ,> 
#### Operation 5: np.where(condition, value_if_True, value_if_False)
df_train['Employment.Length']=np.where(df_train['Employment.Length'].str[:2]=="10",10,
                                      df_train['Employment.Length'])

df_train['Employment.Length']=np.where(df_train['Employment.Length'].str[:1]=="<",0,
                                      df_train['Employment.Length'])

# both are same 
# df_train['Employment.Length']=np.where(df_train['Employment.Length'].str[0]=="<",0,
#                                      df_train['Employment.Length'])

In [28]:
df_train['Employment.Length'].value_counts()

10    575
0     229
2     217
3     203
5     181
4     162
1     159
6     134
7     109
8      95
9      66
.       1
Name: Employment.Length, dtype: int64

In [29]:
df_train['Loan.Length'].value_counts()

36 months    1722
60 months     476
.               1
Name: Loan.Length, dtype: int64

In [30]:
df_train['Employment.Length']=pd.to_numeric(df_train['Employment.Length'],errors='coerce')
# special char remove to nan if we add errors=coerce

In [31]:
df_train['Employment.Length'].value_counts()

10.0    575
0.0     229
2.0     217
3.0     203
5.0     181
4.0     162
1.0     159
6.0     134
7.0     109
8.0      95
9.0      66
Name: Employment.Length, dtype: int64

In [32]:
df_train.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                 float64
fico                              float64
dtype: object

In [33]:
df_train['Loan.Length'].value_counts()

36 months    1722
60 months     476
.               1
Name: Loan.Length, dtype: int64

In [34]:
cat_cols = df_train.select_dtypes([object]).columns
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [35]:
df_train.shape

(2200, 13)

In [36]:
# remove monts in Loan length
df_train['Loan.Length']=df_train['Loan.Length'].str.replace('months','')
df_train['Loan.Length']=pd.to_numeric(df_train['Loan.Length'],errors='coerce')

In [37]:
df_train['Loan.Length'].value_counts()

36.0    1722
60.0     476
Name: Loan.Length, dtype: int64

In [38]:
print("*"*50)
for col in cat_cols:
    print("-"*50)
    print(col)
    print("-"*50)
    print(df_train[col].nunique())
    print("-"*50)
    print(df_train[col].value_counts())
    print("-"*50)

**************************************************
--------------------------------------------------
Loan.Length
--------------------------------------------------
2
--------------------------------------------------
36.0    1722
60.0     476
Name: Loan.Length, dtype: int64
--------------------------------------------------
--------------------------------------------------
Loan.Purpose
--------------------------------------------------
14
--------------------------------------------------
debt_consolidation    1147
credit_card            394
other                  174
home_improvement       135
major_purchase          84
small_business          80
car                     45
wedding                 35
medical                 26
moving                  25
house                   19
vacation                18
educational             14
renewable_energy         3
Name: Loan.Purpose, dtype: int64
--------------------------------------------------
--------------------------------------------------
State
--------------------------------------------------
46
--------------------------------------------------
CA    376
NY    231
FL    149
TX    146
PA     88
IL     87
GA     82
NJ     81
VA     70
MA     64
MD     59
OH     59
NC     59
CO     54
WA     52
CT     44
AZ     44
MI     38
AL     34
MN     30
MO     29
NV     29
SC     27
WI     25
OR     25
KS     21
LA     20
KY     20
OK     20
NH     14
RI     13
UT     13
WV     12
NM     12
HI     12
AR     11
DC      9
AK      8
MT      7
DE      7
VT      5
SD      4
WY      4
IN      3
MS      1
.       1
Name: State, dtype: int64
--------------------------------------------------
--------------------------------------------------
Home.Ownership
--------------------------------------------------
5
--------------------------------------------------
MORTGAGE    1018
RENT         999
OWN          177
OTHER          4
NONE           1
Name: Home.Ownership, dtype: int64
--------------------------------------------------

In [39]:
# create dummies ,discard low freq var
#

to_store = []
new_cols = []

for col in cat_cols:
    
    freqs = df_train[col].value_counts()
    categories = freqs.index[freqs>20]
    to_store.append((col, categories))
    
    for category in categories:
        name=col+'.'+category
        new_cols.append(name)
        df_train[name]=(df_train[col]==category).astype(int)
    del df_train[col]
    print(col)

TypeError: can only concatenate str (not "float") to str

In [ ]:
df_train.shape

In [ ]:
len(new_cols)

In [ ]:
to_store

In [ ]:
df_train.dtypes.unique()

In [ ]:
df_train.dtypes

In [ ]:
df_train.columns.drop(new_cols) #list of all numerical features

In [ ]:
numerical = df_train[df_train.columns.drop(new_cols)]
numerical.shape

In [ ]:
df_train.dtypes

In [ ]:
ax, fig = plt.subplots(figsize=(10,8))
sns.heatmap(numerical.corr(), annot=True, cmap='coolwarm')
plt.show()

In [ ]:
from scipy import stats

fig, axs = plt.subplots(ncols=3, nrows=3, figsize=(30, 25))
index = 0
axs = axs.flatten()
for k,v in numerical.items():
    sns.boxplot(y=k, data=numerical, ax=axs[index])
    index += 1
plt.tight_layout(pad=0.4, w_pad=0.5, h_pad=5.0)

In [ ]:
for k,v in numerical.items():
    q1 = v.quantile(0.25)
    q3 = v.quantile(0.75)
    irq = q3-q1
    v_col = v[(v<= q1-1.5*irq)| (v >= q3 +1.5*irq)]
    perc = np.shape(v_col)[0] * 100.0 / np.shape(numerical)[0]
    print("Column %s outliers = %.2f%%" % (k, perc))

In [ ]:
df_train.isnull().sum()

In [ ]:
import sklearn 
print (sklearn.__version__)
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [ ]:
!pip install scikit_learn==0.21.2

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
!pip install sklearn

In [ ]:
df_train = pd.DataFrame(imputer.fit_transform(df_train), columns=df_train.columns)

In [ ]:
df_train.isnull().sum()

In [ ]:
#dataframe.values --> will return array
X_train, y_train = df_train.loc[:,df_train.columns!="Interest.Rate"].values, df_train["Interest.Rate"].values
X_train.shape, y_train.shape

In [ ]:
from sklearn.preprocessing import StandardScaler #mean=0, std_deviation=1.0
std = StandardScaler().fit(X_train)
X_train = std.transform(X_train)

In [40]:
def preprocessing(dataframe, to_store, std):
    
    #Operation1
    dataframe = dataframe.drop(['ID','Amount.Funded.By.Investors'],axis=1)
    
    #Operation2
    for col in ['Amount.Requested', 'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
        dataframe[col]=pd.to_numeric(dataframe[col],errors='coerce')
    
    #Operation3
    for col in ['Debt.To.Income.Ratio']:
        dataframe[col] = dataframe[col].str.replace("%","") 
    
    for col in ['Debt.To.Income.Ratio']:
        dataframe[col]=pd.to_numeric(dataframe[col],errors='coerce') 
    
    #Operation4
    k=dataframe['FICO.Range'].str.split("-",expand=True).astype(float)
    dataframe['fico']=0.5*(k[0]+k[1])
    del dataframe['FICO.Range']
    
    #Operation5
    dataframe['Employment.Length']=dataframe['Employment.Length'].str.replace('years',"")
    dataframe['Employment.Length']=dataframe['Employment.Length'].str.replace('year',"")
    
    dataframe['Employment.Length']=np.where(dataframe['Employment.Length'].str[:2]=="10",10,
                                       dataframe['Employment.Length'])

    dataframe['Employment.Length']=np.where(dataframe['Employment.Length'].str[0]=="<",0,
                                       dataframe['Employment.Length'])
    
    dataframe['Employment.Length']=pd.to_numeric(dataframe['Employment.Length'],errors='coerce')
    
    #Operation6
    for column, categories in to_store:
        for category in categories:
            name=column+'.'+category
            dataframe[name]=(dataframe[column]==category).astype(int)
        del dataframe[column]
    
    #Missing values
    imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
    dataframe = pd.DataFrame(imputer.fit_transform(dataframe), columns=dataframe.columns)
    
    #data scaling
    X_test = dataframe.values
    X_test = std.transform(X_test) #standard scaling
    
    return X_test

In [41]:
X_test = preprocessing(df_test, to_store, std)
X_test.shape

NameError: name 'std' is not defined