# Introduction to Python- Part 3
        by Pradip Gupta (pradip.mech13@gmail.com)

# Writing your own functions in python
 - The keyword **def** introduces a function definition. It must be followed by the **function_name** and the **parenthesized** list of formal parameters. 
 - The statements that form the body of the function start at the next line, and must be indented.

## First-Class Functions

First-Class Function: A programming language is said to have First-class functions when functions in that language are treated like any other variable. For example, in such a language, a function can be passed as an argument to other functions, can be returned by another function and can be assigned as a value to a variable.

In [16]:
def my_func(start,end,gap=1):
    '''
    function to generate a list
    params:
        x: type int
        y: type int
        z: type int
    return:
        a: type list
    
    '''    
    a = list(range(start,end,gap))
    
    return a

In [17]:
help(my_func)

Help on function my_func in module __main__:

my_func(start, end, gap=1)
    function to generate a list
    params:
        x: type int
        y: type int
        z: type int
    return:
        a: type list

In [18]:
result = my_func(5,20,5)
result

[5, 10, 15]

In [19]:
result = my_func(end=20,start=5)
result

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## Multiple returns

In [23]:
def my_func2(x,y):
    
    if x>y:
        print("return1")
        return y
    print("val1",x)
    print("val2",y)
    
    return x

In [27]:
b = my_func2(3,4)
b

val1 3
val2 4

3

## higher-order function: functions as arguments

In [28]:
def new_func(x,y):
    x = x-1 #4
    y = y-2 #1
    
    return x+y #5

In [29]:
def add(new_func, x,y):
    
    c = new_func(x,y) #5
    
    return c*x*y #5*5*3

In [30]:
add(new_func,5,3)

75

## functions with list comprehension

In [33]:
# writing a function in python
import math
def my_func(x):
    if x%2!=0:
        return(math.log(x))
    else:
        return(x)

In [36]:
my_func(19)

2.9444389791664403

In [38]:
x = list(range(5))
x

[0, 1, 2, 3, 4]

In [39]:
x_ls3=[my_func(a) for a in x]
x_ls3

[0, 0.0, 2, 1.0986122886681098, 4]

## Exercise 1: average_grade

    """ Return students' names and their average grades.
    
    >>> average_grade([['Bob', 56, 80, 72, 90], ['Alice', 60, 88, 44, 70]])
    >>> [['Bob', 74.5], ['Alice', 65.5]]
    """

In [ ]:
def average_grade(lst):
    averages = []
    
    for sub in lst:
        name =sub[0]
        
        
    return averages

In [40]:
a = [60, 88, 44, 70]
sum(a)/len(a)
res = []
res.append([name,avg])

65.5

In [42]:
lst = [['Alice', 60, 88, 44, 70], ['Joe', 44, 100, 80, 60, 50]]

In [46]:
lst[1]

['Joe', 44, 100, 80, 60, 50]

In [47]:
for sub in lst:
    print("sub elem has val as ", sub)
    print("name is", sub[0])
    print("marks is", sub[1:])

sub elem has val as  ['Alice', 60, 88, 44, 70]
name is Alice
marks is [60, 88, 44, 70]
sub elem has val as  ['Joe', 44, 100, 80, 60, 50]
name is Joe
marks is [44, 100, 80, 60, 50]

In [ ]:
result = [["Alice",78],["Joe",88]]

In [ ]:
average_grade(lst)

### solution

In [ ]:
def average_grade(lst):
    
    averages = []

    for sublist in lst:
        student = sublist[0]
        grades = sublist[1:]
        average = sum(grades) / len(grades)
        averages.append([student, average])

    return averages

## Exercise 2: combine_dict_values

    """ Return a dict with values added to existing keys
    
    d_list = [{'Money': .3, 'Strength': .25, 'Speed': .05},
                {'Money': .3, 'Age': 25, 'Speed': .7}, 
                {'Money': .3, 'Strength': .25, 'Power': 5}]
    
    >>> combine_dict_values(d_list)
    {'Age': 25,
    'Money': 0.8999999999999999,
    'Power': 5,
    'Speed': 0.75,
    'Strength': 0.5}
    """

In [ ]:
def combine_dict_values(dict_list):
    
    return result

In [ ]:
d_list = [{'Money': .3, 'Strength': .25, 'Speed': .05},
                {'Money': .3, 'Age': 25, 'Speed': .7}, 
                {'Money': .3, 'Strength': .25, 'Power': 5}]


combine_dict_values(d_list)

### solution

In [ ]:
def combine_dict_values(dict_list):
        
    result = {}
    
    for d in dict_list:
        
        for k, v in d.items():
            
            if k in result:
                result[k] += v
            else:
                result[k] = v
    
    return result

## Exercise 3: get_average_report

**Define a function that does this:** <br> 

Given a list of strings, with each string having a student’s name and their grades, mutate the input list so the original string positions are replaced with their average grades. The function doesn’t need an explicit return statement.
```
>>> reports = ['Anna, 50, 92, 80', 'Bill, 60, 70', 'Cal, 98.5, 100, 95.5, 98']
>>> get_averages(reports)
>>> [74.0, 65.0, 98.0]
```

In [ ]:
reports = ['Anna, 50, 92, 80', 'Bill, 60, 70', 'Cal, 98.5, 100, 95.5, 98']

In [ ]:
def get_averages(reports):

### solution

In [ ]:
def get_averages(lst):

    for i,elm in enumerate(lst):
        grades = elm.split(',')[1:]
        float_grades = [float(grade) for grade in grades]        
        average = sum(float_grades) / len(float_grades)        
        lst[i] = average

## Exercise 4: swap_elements

    """ Return the list after swapping the biggest integer in the list 
    with the one at the last position.
    
    >>> swap_elements([3, 4, 2, 2, 43, 7])
    >>> [3, 4, 2, 2, 7, 43]
    """

In [83]:
a = [3,4,15,8,8,1]

In [87]:
last_elm = a[-1]
last_elm

1

In [88]:
max_no = max(a)

In [89]:
max_index = a.index(max_no)

In [104]:
def swap_elements(in_list):
    
    max_no = max(in_list)
    max_index = in_list.index(max_no)
    lst_elm = in_list[-1]
    
    in_list[max_index] = lst_elm
    in_list[-1] = max_no
    
    return in_list

In [105]:
in_list = [2,3,4,10,11,12,99,0,1,2,3]

In [107]:
in_list[3]

10

In [108]:
in_list[3] = 11

In [109]:
in_list

[2, 3, 4, 11, 11, 12, 3, 0, 1, 2, 99]

In [106]:
swap_elements(in_list)

3

[2, 3, 4, 10, 11, 12, 3, 0, 1, 2, 99]

### solution

In [ ]:
def swap_elements(in_list):

    
    index_of_biggest = in_list.index(max(in_list))
    last_index = in_list.index(in_list[-1])
    
    in_list[index_of_biggest], in_list[last_index] = in_list[last_index], in_list[index_of_biggest]
    return in_list

## Exercise 5:  See if a string is an integer or a float

In [ ]:
nums = ['12', '12.3', '12.0', '123.002']

In [ ]:
for num in nums:
    if is_int(num):
        print(num, 'can be safely converted to an integer.')
    elif is_float(num):
        print(num, 'is a float with non-zero digit(s) in the fractional-part.')

### solution

In [ ]:
def is_int(n):    
    try:
        float_n = float(n)
        int_n = int(float_n)
    except ValueError:
        return False
    else:
        return float_n == int_n


def is_float(n):    
    try:
        float_n = float(n)
    except ValueError:
        return False
    else:
        return True

## Exercise 6: Remove duplicates

Write a function to remove duplicates from a given input list.
```
# >> remove_duplicates([0, 0, 0, 1, 1, 2, 2, 3, 4, 5])
# >> [0, 1, 2, 3, 4, 5]
```

In [111]:
ip = [0, 0, 0, 1, 1, 2, 2, 3, 4, 5]

In [112]:
op = remove_duplicates(ip)

In [113]:
op

[0, 1, 2, 3, 4, 5]

### solution

In [110]:
def remove_duplicates(arr):
    return list(set(arr))

## Exercise 7:

### Write a loop to generate a list of all even numbers between 0 to 100

#### solution

In [5]:
my_list = []
for number in range(0, 10):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0, 2, 4, 6, 8]

### Write the same loop as a list comprehension

#### solution

In [6]:
my_list = [number for number in range(0,10) if number % 2 == 0]
my_list

[0, 2, 4, 6, 8]

# Recursive function

<center><img src="images/russian_dolls.png" width="80%"/></center>

Have you ever seen Russian dolls? You start with one big Russian doll, and discover smaller and smaller Russian dolls, until you get one that is so small that it could not contain another.

What do Russian dolls have to do with python algorithms? Just as one Russian doll has within it a smaller Russian doll, which has an even smaller Russian doll within it, all the way down to a tiny Russian doll that is too small to contain another, we'll see how to design an algorithm to solve a problem by solving a smaller instance of the same problem, unless the problem is so small that we can just solve it directly. We call this technique **recursion**.

Recursion has many, many applications. In this module, we'll see how to use recursion to compute the factorial function, to determine whether a word is a palindrome, to compute powers of a number, to draw a type of fractal, and to solve the ancient Towers of Hanoi problem. Later modules will use recursion to solve other problems, including sorting.

## Exercise: Factorial of n

- We indicate the factorial of n by n!.  
- It's just the product of the integers 1 through n. For example, 5! equals 1⋅2⋅3⋅4⋅5, or 120
- It equals 1 when n = 0, and it equals 1⋅2⋯(n−1)⋅n when n is positive.
- For positive values of n, let's write n! as a product of numbers starting from n and going down to `1: n! = n⋅(n−1)⋯2⋅1`. 
- But notice that (n−1)⋯2⋅1 is another way of writing (n−1)!, and so we can say that n! = n⋅(n−1)!. 
- Did you see what we just did? We wrote n! as a product in which one of the factors is (n−1)!. We said that you can compute n! by computing (n−1)! and then multiplying the result of computing (n−1)! by n. 
- You can compute the factorial function on n by first computing the factorial function on n−1. 
- We say that computing (n-1)! is a subproblem that we solve to compute n!.

Let's look at an example: computing 5!.

- You can compute 5! as 5⋅4!.
- Now you need to solve the subproblem of computing 4!, which you can compute as 4⋅3!.
- Now you need to solve the subproblem of computing 3!, which is 3⋅2!.
- Now 2!, which is 2⋅1!.
- Now you need to compute 1!. You could say that 1! equals 1, because it's the product of all the integers from 1 through 1. Or you can apply the formula that 1! = 1⋅0!. Let's do it by applying the formula.
- We defined 0! to equal 1.
- Now you can compute 1! = 1⋅0!=1.
- Having computed 1! = 1, you can compute 2! = 2⋅1! = 2.
- Having computed 2! = 2, you can compute 3! = 3⋅2! = 6.
- Having computed 3! = 6, you can compute 4! = 4⋅3! = 24.
- Finally, having computed 4! = 24, you can finish up by computing 5! = 5⋅4! = 120.

So now we have another way of thinking about how to compute the value of n!, for all nonnegative integers n:

- If n = 0, then declare that n! = 1.
- Otherwise, n must be positive. Solve the subproblem of computing (n−1)!, multiply this result by n, and declare n! equal to the result of this product.

When we're computing n! in this way, we call the first case, where we immediately know the answer, the **base case**, and we call the second case, where we have to compute the same function but on a different value, the **recursive case.**

**IMPORTANT** <br>
In order for a recursive algorithm to work, the smaller subproblems must eventually arrive at the base case. When computing n!, the subproblems get smaller and smaller until we compute 0!. You must make sure that eventually, you hit the base case.

We can distill the idea of recursion into two simple rules:

- Each recursive call should be on a smaller instance of the same problem, that is, a smaller subproblem.
- The recursive calls must eventually reach a base case, which is solved without further recursion.

### solution

In [19]:
def factorial(n):
    """
    computes the factorial of n
    
    :param n: an integer to compute the factorial of
    
    :returns:  the factorial of n
    """
    print(f"calling factorial, n={n}")
#     f = float(n)
#     n = int(n)
#     if n != f:
#         print("factorial only works for integers")
#         return None
    if n == 0:
        print("reached base case")
        return 1
    else:
        r = n*factorial(n-1)
        print("returning", r)
        return r

In [20]:
factorial(5)

calling factorial, n=5
calling factorial, n=4
calling factorial, n=3
calling factorial, n=2
calling factorial, n=1
calling factorial, n=0
reached base case
returning 1
returning 2
returning 6
returning 24
returning 120

120

## Exercise: Sum of digits

    """ Return sum of the digits (single digit) of the number 
    
    >>> sum_digits(1234)
    >>> 1
    """

### solution

In [37]:
def sum_of_digits(number):
    
    if number < 10:    # base case
        return number

#     result = 0
#     while number > 0:
#         remainder = number % 10
#         result = result+remainder
#         number = number//10
    
    result = 0
    number = str(number)
    for i in number:
        result = result + int(i)
        
    return sum_of_digits(result)

In [38]:
sum_of_digits(1234)

1

# Lambda, filter and map

## Lambda

 - The lambda operator or lambda function is a way to create small anonymous functions, i.e. functions without a name. 
 - These functions are **throw-away functions**, i.e. they are just needed where they have been created. 
 - Lambda functions are mainly used in combination with the functions `filter()` and `map()`
 
The general syntax of a lambda function is quite simple:  <br>
 
`lambda argument_list: expression`

In [39]:
temp = lambda x, y : x + y

In [40]:
temp(3,4)

7

## Map

`map()` is a function which takes two arguments: <br>

`r = map(func, seq)`

 - The **first argument** func is the **name of a function** and the **second argument** a **sequence** (e.g. a list) seq. 

 - `map()` applies the function func to all the elements of the sequence seq. 

 - `map()` **returns an iterator**.

The true power of lambda can be seen when used in conjugation with map() function.

In [41]:
mylist = ["10","20","30"]

In [45]:
for i in map(float,mylist):
    print(i)

10.0
20.0
30.0

In [46]:
C = [39.2, 36.5, 37.3, 38, 37.8]

In [47]:
F = list(map(lambda x: (float(9)/5)*x + 32, C))
F

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]

In [48]:
C = list(map(lambda x: (float(5)/9)*(x-32), F))
C

[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

## Filter

The filter function also takes in two arguments a function and a sequence. 

`filter(function, sequence)`

It offers an elegant way to filter out all the elements of a `sequence` "sequence", for which the function `func` returns True. i.e. an item will be produced by the iterator result of filter(function, sequence) if item is included in the sequence "sequence" and if function(item) returns True.

In [50]:
list(filter(lambda x: x % 2==0, range(0,10)))

[0, 2, 4, 6, 8]

## Exercise: contiguous_subarray

    """ Return the length of the longest sub-array which consists of all 1’s.
    
    a_list = [1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0]
    >>> contiguous_subarray(a_list)
    4
    """

In [ ]:
a_list = [1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0]
contiguous_subarray(a_list)

### solution

In [72]:
lst = [1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0]

In [ ]:
s = "111100001111"

In [74]:
str(lst)

'[1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0]'

In [82]:
len(max("".join(map(str, lst)).split("0")))

4

In [ ]:
def contiguous_subarray(lst): 
    return len(max(''.join(map(str, lst)).split('0')))

# Writing your own Classes:
 - Class are a collection of similar kind of variables and functions. 
 - The primary difference between a class and a function is that, Class can have objects. 
 
**Differences Between Classes and Functions** <br>
 
The key differences between Classes and Functions are:

* Functions are much easier to reason about
* Functions (typically) have state inside the function only, where classes have state persists outside of the function
* Classes can offer a more advanced level of abstraction at the cost of complexity

In [114]:
#In the definition of the class Circle “object” means that this class has no inheritance
class Circle:
    def __init__(self, radius):
        self.r = radius
    
    def area(self):
        self.a = self.r**2*3.14
        
        return self.a
        
    def perimeter(self):
        self.p = 2*3.14*self.r
        
        return self.p
    
    def sumr(self):
        return self.a+self.p

In [121]:
c1 = Circle(6)
c2 = Circle(2)

In [123]:
c1.area(), c2.area()

(113.04, 12.56)

In [124]:
c1.perimeter()

37.68

In [125]:
c1.sumr()

150.72

In [131]:
import math
# we start with keyword class and then give our class a name
class Point:

    def __init__(self, x, y):
        '''Defines x and y variables'''
        self.X = x
        self.Y = y

        # self is used as reference to internal objects that get 
        # created using values supplied from outside 
        # default function _init_ is used to create internal objects
        # which can be accessed by other functions in the class

    def length(self):
        return(math.sqrt(self.X**2+self.Y**2))
    
    # all function inside a class will have access to internal objects 
    # created inside the class
    # you can understand self to be default Point class object
    
    def distance(self, other):
        dx = self.X - other.X
        dy = self.Y - other.Y
        return(math.sqrt(dx**2 + dy**2))
    
    # a function inside the class can take input multiple objects
    # of the same class

In [132]:
p1=Point(2,3)
p2=Point(4,10)

In [133]:
p1.length()

3.605551275463989

In [134]:
p2.length()

10.770329614269007

In [135]:
p1.distance(p2)

7.280109889280518

In [143]:
p1.__dict__

{'X': 2, 'Y': 3}

#### Creating an empty Class
Using classes and interacting with them can be done iteratively in Jupyter Notebook.
The simplest type of class is just a name as shown below:
```
class Competitor: pass
```
But, that class can be instantiated into multiple objects

In [136]:
class Competitor: pass

#### Setting Attributes on an Object

In [137]:
conor = Competitor()

In [141]:
conor.name = "Conor McGregor"
conor.age = 29
conor.weight = 155

In [142]:
conor.__dict__

{'name': 'Conor McGregor', 'age': 29, 'weight': 155}

In [144]:
nate = Competitor()
nate.name = "Nate Diaz"
nate.age = 30
nate.weight = 170
nate.__dict__

{'name': 'Nate Diaz', 'age': 30, 'weight': 170}

#### Interacting with Objects

In [145]:
def print_competitor_age(object):
    """Print out age statistics about a competitor"""
    
    print(f"{object.name} is {object.age} years old")

In [146]:
print_competitor_age(nate)

Nate Diaz is 30 years old

In [ ]:
print_competitor_age(conor)

#### Understanding Inheritance
Classes can also inhert from other classes including methods.
Often inheritance can be complex and a rule of thumb is to use discretion.

In the example below, a UFC class was created that has a method (similar to a function), that can determine what weight class an athlete belongs to.  Then the Competitor class uses "inheritance", to inhert the code in the class.

##### Using Inheritance

In [161]:
class UFC:
    def weight_class(self, weight):
        """Weight Class Finder"""
        
        classes = {155: "Lightweight", 
                    170: "Heavyweight"}
        return classes[weight]

In [167]:
class Competitor(UFC): pass

In [168]:
conor = Competitor()
conor.name = "Conor McGregor"
conor.age = 29
conor.weight = 155

In [169]:
conor.weight_class

##### Using inherited methods from Parent Class

In [159]:
print(conor.weight_class(conor.weight))

Lightweight

#### Using Multiple Inheritance

Multiple Inheritance is inheriting more than one class

In [170]:
class MMA:
    def org(self, org_name):
        orgs = {"UFC": "Ultimate Fighting Championship",
          "Bellator":  "MMA promotion in Santa Monica, California."}
        return orgs[org_name]

In [171]:
class CompetitorAll(UFC, MMA):pass

In [172]:
gsp = CompetitorAll()
gsp.name = "GSP"
gsp.age = 27
gsp.weight = 170
print(f'{gsp.name} is the G.O.A.T in the {gsp.weight_class(gsp.weight)} division of the {gsp.org("UFC")}')

GSP is the G.O.A.T in the Heavyweight division of the Ultimate Fighting Championship

@property decorator is a shortcut for creating a read only property

In [173]:
class JonJones:
    """Jon Jones class with read only property"""

    @property
    def reach(self):
        return 84

jon_jones = JonJones()

In [174]:
jon_jones.reach

84

In [175]:
jon_jones.reach = 85 #cannot set

AttributeError: can't set attribute

In [176]:
jon_jones.length = 85

@staticmethod bolts a function onto a class

In [182]:
class JonJones:
    """Jon Jones Class with 'bolt-on' reach method
    self isn't needed
    """
    @staticmethod
    def reach():
        return 84

jon_jones =JonJones()
jon_jones.reach()

84

In [183]:
jon_jones.reach = 85

In [184]:
jon_jones.reach()

TypeError: 'int' object is not callable

#### Immutability concepts with Objects

In [ ]:
class Foo:
    @property
    def unbreakable(self):
        return "David"

In [ ]:
foo = Foo()
foo.unbreakable

In [ ]:
foo.not_unbreakable = "Elijah2"

@property acts like an read only attribute, but it isn't

In [ ]:
foo.__dict__

You can change an attribute on the object, but not the read only property

In [ ]:
foo.not_unbreakable = "Mr. Glass"

In [ ]:
foo.unbreakable = "Bruce Willis"

# Modules

Pure python does not do much. To do some specific tasks you need to import modules. Here I am going to demonstrate several ways to do so.

The most common one is to import complete library. In this example we import *urllib2* - a library for opening URLs using a variety of protocols.

In [1]:
import math

In [2]:
sqrt(2)

NameError: name 'sqrt' is not defined

In [3]:
math.sqrt(2)

1.4142135623730951

In [187]:
from math import sqrt

In [188]:
sqrt(2)

1.4142135623730951

In [4]:
from math import sqrt as sqt

In [5]:
sqt(2)

1.4142135623730951

In [6]:
import numpy as np

#### Installing other libraries using pip install

Installing other libraries can be done with the ```pip install``` command

To install the pandas package:

```pip install pandas```

Alternatively packages can be installed using a requirements.txt file

```
> cat requirements.txt 
pylint
pytest
pytest-cov
click
jupyter
nbval

> pip install -r requirements.txt

```

# Exercises

## Exercise 1: Write a function to convert a list to dictionary as shown:

`mylist = ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']`

`mydict = 
{
    0 : 'Zero',
    1 : 'One',
    2 : 'Two',
    3 : 'Three',
    4 : 'Four',
    5 : 'Five',
    6 : 'Six',
    7 : 'Seven',
    8 : 'Eight',
    9 : 'Nine',
}`

In [ ]:
x = ['Zero', 'One', 'Two', 'Three', 'Four']

In [ ]:
d = list_to_dict(x)
d

### solution

In [ ]:
def list_to_dict(x):
    """Create a dictionary where the key is the ordinal of the object in the list
    and the value is the object itself."""  
    
    d = {} #initialise an empty dictionary
    
    for index, value in enumerate(x):
        
        d[index] = value
        
    return d

## Exercise 2: return words of given length

    """ Remove punctuation from text, then return words of length number.
    
    >>> find_words_of_length(4, "this is a string with some four-letter words.")
    >>> ['this', 'with', 'some']
    """

In [ ]:
from string import punctuation

def find_words_of_length(number, text):
    """ Remove punctuation from text, then return words of length number.
    
    >>> find_words_of_length(4, "this is a string with some four-letter words.")
    >>> ['this', 'with', 'some']
    """
    
    return words

find_words_of_length(3, "3-letter words: cat, bat, rat ")

### solution

In [ ]:
from string import punctuation

def find_words_of_length(number, text):
    """ Remove punctuation from text, then return words of length number.
    
    >>> find_words_of_length(4, "this is a string with some four-letter words.")
    >>> ['this', 'with', 'some']
    """
    
    text = ''.join(char for char in text if char not in punctuation)
    words = [word for word in text.split() if len(word) == number]
    return words

## Exercise 3: Binary Search

**Objective:**
Given a sorted array of integers, return the index of the given key. Return -1 if not found.

**Description:** 
Binary search is used to find the index of an element in a sorted array. If the element doesn’t exist, that can be determined efficiently as well. The algorithm divides the input array by half at every step. After every step, either we have found the index that we are looking for or half of the array can be discarded. Hence, solution can be calculated in O(logn) time.

<center><img src="images/bs.png" width="600"/></center>

Here’s the pseudo algorithm for binary search. <br>

- At every step, consider the array between low and high indices
- Calculate the mid index.
- If the element at the mid index is the key, return mid.
- If the element at mid is greater than the key, then reduce the array size such that high becomes mid - 1.
- Index at low remains the same.
- If the element at mid is less than the key, then reduce the array size such that low becomes mid + 1. Index at high remains the same.
- When low is greater than high, key doesn’t exist. Return -1.

**Problem:** <br>
Consider a sorted array of the first 25 prime numbers. We want to know whether the number 67 is prime. If 67 is in the array, then it's prime. We also want to know how many primes are smaller than 67. If we find the position of the number 67 in the array, we can use the position to figure out how many smaller primes exist.

**Step 1:**
Let min = 0 and max=24. The first guess in the binary search would therefore be at index 12, which is (0 + 24) / 2. Is primes[12] equal to 67? No, primes[12] is 41.

<center><img src="images/bs_1.png" width="600"/></center>

**Step 2:** <br>
Is the index we are looking for higher or lower than 12? Since the values in the array are in increasing order, and 41 < 67, the value 67 should be to the right of index 12. In other words, the index we are trying to guess should be greater than 12. We update the value of min to 12 + 1, or 13, and we leave max unchanged at 24.

<center><img src="images/bs_2.png" width="600"/></center>

**Step 3:** <br>
What's the next index to guess? The average of 13 and 24 is 18.5, which we round down to 18, since an index into an array must be an integer. We find that primes[18] is 67.

<center><img src="images/bs_3.png" width="600"/></center>

In [67]:
arr = [3,4,5,6,7,12,13,14,15,20,22]
num = 20

In [68]:
index = binarySearch(arr, 0, len(arr), num)

In [69]:
index

9

### solution

In [64]:
# Returns index of x in arr if present, else -1 
def binarySearch(arr, left, right, num): 
  
    # Check base case 
    if right >= left: 
  
        mid = int((left + right)/2)
  
        # If element is present at the middle itself 
        if arr[mid] == num: 
            return mid 
          
        # If element is smaller than mid, then it  
        # can only be present in left subarray 
        elif arr[mid] > num: 
            return binarySearch(arr, left, mid-1, num) 
  
        # Else the element can only be present  
        # in right subarray 
        else: 
            return binarySearch(arr, mid+1, right, num) 
  
    else: 
        # Element is not present in the array 
        return -1